.comments-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__comment {
    position: relative;
    display: grid;
    grid-template:
      "avatar username createdAt" auto
      "content content content" auto
      "score score reply"
      "update update update" auto / 1fr 2.5fr 3fr;
    align-items: center;
    width: 100%;
    background-color: $white;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    animation: fade-in-x 0.5s ease-in-out forwards;

    @include for-tablet-portrait-up {
      grid-template:
        "score avatar username createdAt reply" auto
        "score content content content content"
        "update update update update update" auto / 1fr 1fr 2.5fr 3fr 3fr;
    }

    &.replying {
      margin-left: 1.125rem;
      width: 95%;

      @include for-tablet-portrait-up {
        width: 85%;
      }

      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        background-color: $light-gray;
        left: -15px;
        width: 3px;
        height: 110%;
        top: -12px;

        @include for-tablet-portrait-up {
          left: -42px;
        }
      }
    }
  }

  &__avatar {
    width: 2rem;
    height: 2rem;
    grid-area: avatar;
  }

  &__username {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__content {
    margin: 1.25rem 0;
    grid-area: content;
    overflow-wrap: break-word;
  }

  &__score {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f6fa;
    height: 2.5rem;
    width: 6.25rem;
    border-radius: 0.5625rem;
    grid-area: score;
    align-self: flex-start;

    @include for-tablet-portrait-up {
      flex-direction: column-reverse;
      height: 6.25rem;
      width: 2.5rem;
    }
  }

  &__minus,
  &__plus {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 25px;
    &:hover {
      cursor: pointer;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $moderate-blue;
    font-weight: $medium;
    gap: 0.5625rem;
    grid-area: reply;

    .delete-button {
      color: #ed6368;
      margin-left: 1.25rem;

      &:hover {
        cursor: pointer;
        opacity: 50%;
      }
    }

    .edit-button {
      .active {
        opacity: 50%;
        pointer-events: none;
      }

      &:hover {
        cursor: pointer;
        opacity: 50%;
      }
    }

    .reply-button {
      &:hover {
        cursor: pointer;
        opacity: 50%;
      }
    }
  }

  &__edit-textarea {
    width: 100%;
    font-family: Rubik;
    font-size: 16px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    resize: none;
  }

  .update-button {
    display: none;
    grid-area: update;
    justify-self: end;
    width: 6.5625rem;
    height: 3rem;
    background-color: $moderate-blue;
    color: $white;
    border-radius: 10px;
    border: none;

    &:hover {
      opacity: 50%;
    }
  }

  &__replyingTo {
    color: $moderate-blue;
  }

  &__userLabel {
    display: inline-block;
    background-color: $moderate-blue;
    color: $white;
    padding: 1.5px 6.5px;
    font-size: 10px;
  }

  &__createdAt {
    text-align: center;
  }
}
